.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;

}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap:2rem;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
color:var(--black);
font-weight: bold;
font-size: 3rem;
}
.i-name>:nth-child(2){
    color:var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}
.i-button{
    width: 8rem;
}


.i-icons{
    margin-top: 4rem;
    display: flex;
}
.i-icons>a{
    display:inline;
    width: 10%;
    margin-right: 30px;
}
.i-icons-image{
    width: 100%;
    box-sizing: border-box;
    height: auto;
}
.i-icons>*:hover{
    cursor: pointer;
}
.fotoCV{
    width: 350px;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}

.i-right>:nth-child(2){
    
    top: -19%;
    transform: scale(0.67);
    left: -7%;
}

.i-right>:nth-child(3){
    
    top: 3%;
    transform: scale(0.8);
    left: 20%;
}

.i-right>:nth-child(4){
    transform: scale(0.6);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius:50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(40px);
}
@media screen and (max-width:480px){
    .intro{
        flex-direction: column;
        height: 64rem;
        gap:7rem;
    }
    .i-right{
        transform: scale(0.8);
        left: -6rem;
    }
    .i-right .blur{
        display: none;
    }
    .floating-div:nth-of-type(1){
        top:-5rem !important;
        left: 12rem !important;
    }
    .floating-div:nth-of-type(2){
        left: 4rem !important;
        top: 20rem !important;
    }
    .fotoCV{
        width: 350px;
        margin-left: 4rem !important;
    }
    .i-icons-image{
        width: 180%;
        box-sizing: border-box;
        height: auto;
    }

}

@media screen and (min-width:1600px){
    .i-right{
        transform: scale(0.9);
        left: 1rem;
    }
    .vector1{
        transform: scale(1.1) !important;
        margin-top: 2rem !important;
    }
    .vector2{
        transform: scale(0.9) !important;
        margin-top: 2rem !important;
    }
    .floating-div:nth-of-type(1){
        top:-5rem !important;
        left: 22rem !important;
    }
    .floating-div:nth-of-type(2){
        left: -6rem !important;
        top: 20rem !important;
    }
    .fotoCV{
        width: 400px;
        margin-left: -4rem !important;
    }
}
@media screen and (max-width:899px) and (min-width:646px){
    .intro{
        flex-direction: column;
        height: 64rem;
        gap:7rem;
    }
    .i-right{
        transform: scale(1.1);
        left: 2.5rem;
    }
    .i-right .blur{
        display: none;
    }
    .floating-div:nth-of-type(1){
        top:-5rem !important;
        left: 12rem !important;
    }
    .floating-div:nth-of-type(2){
        left: -1rem !important;
        top: 20rem !important;
    }
    .fotoCV{
        width: 350px;
        margin-left: 4rem !important;
        position: absolute !important;
        top: 5% !important;
        left: 0% !important;
    }
    .i-icons-image{
        width: 110%;
        box-sizing: border-box;
        height: auto;
    }
}
@media screen and (max-width:645px) and (min-width:481px){
    .intro{
        flex-direction: column;
        height: 64rem;
        gap:7rem;
    }
    .i-right{
        transform: scale(0.9);
        left: -1.5rem;
    }
    .i-right .blur{
        display: none;
    }
    .floating-div:nth-of-type(1){
        top:-5rem !important;
        left: 12rem !important;
    }
    .floating-div:nth-of-type(2){
        left: -1rem !important;
        top: 20rem !important;
    }
    .fotoCV{
        width: 350px;
        margin-left: 4rem !important;
        position: absolute !important;
        top: 5% !important;
        left: 0% !important;
    }
    .i-icons-image{
        width: 110%;
        box-sizing: border-box;
        height: auto;
    }
}
@media screen and (max-width:1250px) and (min-width:900px){

    .intro{
        flex-direction: column;
        height: 64rem;
        gap:7rem;
    }
    .i-right{
        transform: scale(1.1);
        left: 12rem;
    }
      .floating-div:nth-of-type(1){
        top:-5rem !important;
        left: 12rem !important;
    }
    .floating-div:nth-of-type(2){
        left: -1rem !important;
        top: 20rem !important;
    }
    .fotoCV{
        width: 350px;
        margin-left: 4rem !important;
        position: absolute !important;
        top: 5% !important;
        left: 0% !important;
    }
}